{% extends "layout.jinja" %}
{% block title %}{% endblock %}

{% block content %}
    
    <style>
        #txcount {
            color:#97F7FF;
            width:100%; 
            height:100%;
        }

        #graph_container {
            background:#1AAABA; 
            border-radius : 20px;
            padding : 20px;
            width:90%; 
            height:500px;
            margin : auto;
        }
    </style>

    <h1>ICON Blockchain Transaction Count</h1>
    <div id="graph_container"><div id="txcount"></div></div>

    <script type="text/javascript">

        // Darken a color
        function darkenColor(colorStr)
        {
            var color = Dygraph.toRGB_(colorStr);
            color.r = Math.floor((255 + color.r) / 2);
            color.g = Math.floor((255 + color.g) / 2);
            color.b = Math.floor((255 + color.b) / 2);
            return 'rgb(' + color.r + ',' + color.g + ',' + color.b + ')';
        }

        // This function draws bars for a single series.
        function barChartPlotter(e)
        {
            var ctx = e.drawingContext;
            var points = e.points;
            var y_bottom = e.dygraph.toDomYCoord(0);

            ctx.fillStyle = "rgb(0, 125, 140)";

            // Find the minimum separation between x-values.
            // This determines the bar width.
            var min_sep = Infinity;
            for (var i = 1; i < points.length; i++) {
                var sep = points[i].canvasx - points[i - 1].canvasx;
                if (sep < min_sep) min_sep = sep;
            }
            var bar_width = Math.floor(2.0 / 3 * min_sep);

            // Do the actual plotting.
            for (var i = 0; i < points.length; i++) {
                var p = points[i];
                var center_x = p.canvasx;

                ctx.fillRect(center_x - bar_width / 2, p.canvasy,
                    bar_width, y_bottom - p.canvasy);

                ctx.strokeRect(center_x - bar_width / 2, p.canvasy,
                    bar_width, y_bottom - p.canvasy);
            }
        }

        var pointFocus = function (g, series, ctx, cx, cy, color, radius) {
            ctx.lineWidth = 1;
            ctx.strokeStyle = "rgb(106, 205, 205)";
            ctx.fillStyle = "rgb(146, 255, 255)";
            ctx.beginPath();
            ctx.arc(cx, cy, radius, Math.PI * 2, false);
            ctx.closePath();
            ctx.stroke();
            ctx.fill();
        };

        var txcount = {{txcount | safe}};
        txcount = txcount.map (x => [new Date(x[0]), x[1]])
        new Dygraph (
            document.getElementById("txcount"),
            txcount, {
                legend: 'always',
                labels: ["Date", "Transaction Count"],
                labelsSeparateLines: true,
                animatedZooms: true,
                plotter: barChartPlotter,
                axisLineColor: 'rgb(146, 255, 255)',
                axes: {
                    y: {
                        drawGrid: true,
                        gridLinePattern: [4,4],
                        gridLineColor: 'rgb(146, 255, 255)',
                    },
                    x: {
                        drawGrid: false,
                    }
                },
                drawPointCallback: pointFocus,
                drawHighlightPointCallback : pointFocus
            }
        );
    </script>
{% endblock %}